<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="416c5cdb-6ea9-4278-8ce9-ea74ee357e98" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://maps.googleapis.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="416c5cdb-6ea9-4278-8ce9-ea74ee357e98fileName">http%3A%2F%2Fmaps.googleapis.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://KN-JCZUPIK-01:8089/</con:endpoint><con:endpoint>http://localhost:8088/</con:endpoint><con:endpoint>http://maps.googleapis.com</con:endpoint></con:endpoints></con:interface>