<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="22926294-d71e-4ae5-84c7-07e15f3b6b1e" name="WS TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="22926294-d71e-4ae5-84c7-07e15f3b6b1efileName">WS-TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>