<?xml version="1.0" encoding="UTF-8"?>
<con:restMockService id="44a094a1-259b-4397-b50f-064093eae8f3" port="8080" path="/" host="localhost" name="http://maps.googleapis.com Virt" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="44a094a1-259b-4397-b50f-064093eae8f3fileName">http%3A%2F%2Fmaps.googleapis.com-Virt</con:setting></con:settings><con:properties/><con:constraints><con:congestion>0</con:congestion><con:inputBandwidth>-1</con:inputBandwidth><con:outputBandwidth>-1</con:outputBandwidth><con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity><con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity><con:virtError><con:start>0</con:start><con:endless>true</con:endless></con:virtError></con:constraints><con:headerValidator type="NONE"/></con:restMockService>